@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
  background:#eef4ff;
}

.container{
  width:90%;
  max-width:1200px;
  margin:30px auto;
}

.navbar{
  text-align:center;
  margin-bottom:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
  box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.footer{
  text-align:center;
  padding:20px;
  color:#666;
}